<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
            <title>Linkful Digest</title></head>
        <body bgcolor="#24262A" style="background-image:url('http://alexpoon.me/perfectTheme/version4/img/bg.gif');background-repeat:repeat-y no-repeat;background-position:top center;margin:0;padding:0">
            <table class="bodytbl" width="100%" cellspacing="0" cellpadding="0" background="http://alexpoon.me/perfectTheme/version4/img/bg.gif" style="margin:0;padding:0;-webkit-text-size-adjust:none;font-size:12px;color:#787878">
                <tr style="padding:0">
                    <td align="center" style="padding:0">
                        <table width="600" cellspacing="0" cellpadding="0" style="font-size:12px;color:#787878">
                            <tr style="padding:0">
                                <td height="18" style="padding:0"></td>
                            </tr>
                            <tr style="padding:0">
                                <td rowspan="4" width="10" style="padding:0"></td>
                                <td height="18" style="padding:0"></td>
                                <td style="padding:0"></td>
                                <td valign="bottom" width="98" style="padding:0">
                                </td>
                                    <td align="right" style="padding:0">
                                        <div class="preheader" style="line-height:1px;color:#24262A;font-size:1px;height:1px;display:none!important"></div>
                                        <div class="small" style="line-height:18px;color:#787878;font-size:10px;font-family:sans-serif"><div style="line-height:18px;color:#787878"></div>
                                        </div>
                                    </td>
                                    <td style="padding:0">&nbsp;</td><td rowspan="4" width="10" style="padding:0">&nbsp;</td></tr>
                                <tr bgcolor="#E2DAC3" style="padding:0">
                                    <td width="10" valign="top" style="padding:0">
                                        <img src="http://alexpoon.me/perfectTheme/version4/img/c_left_top.gif" height="9" width="10" alt="" border="0" style="display:block"></td>
                                        <td width="20" style="padding:0">&nbsp;</td>
                                        <td rowspan="2" height="165" valign="top" style="padding:0">
                                        </td>
                                            <td style="padding:0">&nbsp;</td>
                                            <td width="10" valign="top" align="right" style="padding:0">
                                                <img src="http://alexpoon.me/perfectTheme/version4/img/c_right_top.gif" height="9" width="10" alt="" border="0" style="display:block"></td>
                                            </tr>
                                            <tr bgcolor="#E2DAC3" style="padding:0">
                                                <td height="140" colspan="2" style="padding:0">&nbsp;</td>
                                                <td valign="middle" align="right" class="h1" style="font-family:Georgia, Times, serif;color:#24262A;font-size:40px;line-height:36px;letter-spacing:-0.04em;text-shadow:#787878 0px 1px 1px;-moz-text-shadow:#787878 0px 1px 1px;-webkit-text-shadow:#787878 0px 1px 1px;text-align:right;padding:0">
                                                    <!-- CONTENT start -->
                                                    <div class="h1" style="line-height:36px;color:#24262A;font-family:Georgia, Times, serif;font-size:40px;letter-spacing:-0.04em;text-shadow:#787878 0px 1px 1px;-moz-text-shadow:#787878 0px 1px 1px;-webkit-text-shadow:#787878 0px 1px 1px;text-align:right"><div style="line-height:36px;color:#24262A;font-family:Georgia, Times, serif;font-size:40px;letter-spacing:-0.04em;text-shadow:#787878 0px 1px 1px;-moz-text-shadow:#787878 0px 1px 1px;-webkit-text-shadow:#787878 0px 1px 1px;text-align:right">Your Linkful Digest</div></div>
                                                    <!-- CONTENT end -->
                                                </td>
                                                <td width="30" style="padding:0">&nbsp;</td></tr>
                                        </table>
                                        <table width="580" cellspacing="0" cellpadding="0" style="font-size:12px;color:#787878">
                                            <tr style="padding:0">
                                                <td height="18" bgcolor="#E2DAC3" style="padding:0">
                                                  <center><%= link_to 'Complete Linkful History', "http://linkful.herokuapp.com/users/#{@user.profile_hash}" %></center>
                                                    <img src="http://alexpoon.me/perfectTheme/version4/img/shadow_top.gif" width="580" height="18" alt="" border="0" style="display:block"></td>
                                                </tr>
                                            </table>
                                            <table width="580" cellspacing="0" cellpadding="0" style="font-size:12px;color:#787878">
                                                <tr style="padding:0">
                                                    <td height="18" bgcolor="#E2DAC3" style="padding:0">&nbsp;</td></tr>
                                            </table>
                                            <!-- ~ header block ends here -->
                                            <% @links.each_slice(3) do |batch|%>
                                            <!-- 1/3 Column Images start  -->
                                            <table width="600" cellpadding="0" cellspacing="0" style="font-size:12px;color:#787878">
                                                <tr style="padding:0">
                                                    <td valign="top" align="center" style="padding:0">
                                                        <table width="580" cellpadding="0" cellspacing="0" bgcolor="#E2DAC3" style="font-size:12px;color:#787878">
                                                            <tr style="padding:0">
                                                                <td height="18" colspan="7" style="padding:0">&nbsp;</td></tr>
                                                            <tr style="padding:0">
                                                                <!-- CONTENT start -->
                                                                <% batch.each do |link| %>
                                                                <td width="18" style="padding:0">&nbsp;</td>
                                                                <td width="169" valign="top" align="left" style="padding:0">
                                                                    <div class="img" style="line-height:18px;color:#787878">
                                                                      <a href="<%= link.source %>">
                                                                        <img src="<%= link.screenshot %>" alt="" title="" width="169" height="108" border="0" style="max-width:169px;display:block">
                                                                      </a>
                                                                      </div>
                                                                    </td>
                                                                  <% end %>
                                                                  <% (3-batch.length).times do %>
                                                                    <td width="18" style="padding:0">&nbsp;</td>
                                                                    <td width="169" valign="top" align="left" style="padding:0">
                                                                    <div class="img" style="line-height:18px;color:#787878">
                                                                    </div>
                                                                    </td>
                                                                  <% end %>
                                                                                                                                               <!-- CONTENT end -->
                                                                            <td width="18" style="padding:0">&nbsp;</td></tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- 1/3 Column Images end   -->
                                                        <!-- 1/3 Column start  -->
                                                        <table width="600" cellpadding="0" cellspacing="0" style="font-size:12px;color:#787878">
                                                            <tr style="padding:0">
                                                                <td valign="top" align="center" style="padding:0">
                                                                    <table width="580" cellpadding="0" cellspacing="0" bgcolor="#E2DAC3" style="font-size:12px;color:#787878">
                                                                        <tr style="padding:0">
                                                                            <td height="18" colspan="7" style="padding:0">&nbsp;</td></tr>
                                                                        <tr style="padding:0">
                                                                          <% batch.each do |link| %>
                                                                            <td width="18" style="padding:0">&nbsp;</td>
                                                                            <!-- CONTENT start -->
                                                                            <td width="169" valign="top" align="left" style="padding:0">
                                                                                <div class="font" style="line-height:18px;color:#787878;font-family:Georgia, Times, serif">
                                                                                    <div style="line-height:18px;color:#787878">
                                                                                      <%= link.title %>
                                                                                      <br>
                                                                                      Shared by <%= User.find(link.sender_id).name %>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="btn" style="line-height:18px;color:#787878">
                                                                                    <a target="_blank" style="color:#4C6B6D;text-decoration:none">
                                                                                        <img src="http://alexpoon.me/perfectTheme/version4/img/more.gif" width="64" height="36" alt="read more" title="read more" border="0" style="display:block"></a>
                                                                                    </div>
                                                                                </td>
                                                                              <% end %>
                                                                              <% (3-batch.length).times do %>
 <td width="18" style="padding:0">&nbsp;</td>
                                                                            <!-- CONTENT start -->
                                                                            <td width="169" valign="top" align="left" style="padding:0">
                                                                                <div class="font" style="line-height:18px;color:#787878;font-family:Georgia, Times, serif">
                                                                                    <div style="line-height:18px;color:#787878">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="btn" style="line-height:18px;color:#787878">
                                                                                    </div>
                                                                                </td>

                                                                              <% end %>

                                                                                        <!-- CONTENT end -->
                                                                                        <td width="18" style="padding:0">&nbsp;</td></tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                  <% end %>
                                                                    <!-- 1/3 Column end   -->
                                                                    <!-- Footer start -->
                                                                    <table width="580" cellspacing="0" cellpadding="0" bgcolor="#E2DAC3" style="font-size:12px;color:#787878">
                                                                        <tr style="padding:0">
                                                                            <td height="36" valign="bottom" style="padding:0">
                                                                                <img src="http://alexpoon.me/perfectTheme/version4/img/zigzag2.gif" width="580" height="18" alt="" border="0" style="max-width:580px;display:block"></td>
                                                                            </tr>
                                                                        </table>
                                                                        <table width="600" cellpadding="0" cellspacing="0" style="font-size:12px;color:#787878">
                                                                            <tr style="padding:0">
                                                                                <td valign="top" style="padding:0">
                                                                                    <table width="600" cellpadding="0" cellspacing="0" style="font-size:12px;color:#787878">
                                                                                        <tr style="padding:0">
                                                                                            <td width="28" style="padding:0">&nbsp;</td>
                                                                                            <!-- CONTENT start -->
                                                                                            <td width="263" valign="top" align="left" style="padding:0">
                                                                                                <div class="small" style="line-height:18px;color:#787878;font-size:10px;font-family:sans-serif">
                                                                                                    <div style="line-height:18px;color:#787878">
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td width="18" style="padding:0">&nbsp;</td>
                                                                                                <td width="263" valign="top" align="left" style="padding:0">
                                                                                                    <div class="small" style="line-height:18px;color:#787878;font-size:10px;font-family:sans-serif">
                                                                                                        <div style="line-height:18px;color:#787878">
                                                                                                           
                                                                                                                                                                                                                                       <a href="http://linkful.herokuapp.com" target="_blank" style="color:#4C6B6D;text-decoration:none">Linkful</a></div>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                            <!-- CONTENT end -->
                                                                                                            <td width="28" style="padding:0">&nbsp;</td></tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr style="padding:0">
                                                                                                <td height="72" style="padding:0">&nbsp;</td></tr>
                                                                                        </table>
                                                                                        <!-- Footer end -->
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </body>
                                                                    </html>
