%br
- @links.each_slice(4) do |batch|
  .row
    - batch.each do |link|
      .work_post.span3
        = link_to link.source do
          = image_tag link.screenshot, :class => 'work_img', :alt => link.title
        = link_to link.title, link.source, :class => 'work_link'
        %p.share-info
          - unless params[:controller] == 'users'
            Sent to
            = link_to User.find(link.reciever_id).name, User.find(link.reciever_id)
          - else
            Shared by 
            = User.find(link.sender_id).name
          %br
          = "#{time_ago_in_words link.created_at} ago"
