%p#notice= notice

%p
	%b Source:
	= @link.source
%p
	%b Sender:
	= @link.sender_id
%p
	%b Reciever:
	= @link.reciever_id
%p
	- unless @topics.empty?
		= @topics


= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
	