%p#notice= notice

%h1
	= User.find(@link.sender_id).name
	posted this link for
	= User.find(@link.reciever_id).name

%p
	%b View:
	= link_to @link.title, @link.source

%ul
	- unless @topics.nil?
		- @topics.each do |t|
			%li.horizontal
				<span class="label label-success">
				=t
				</span>
	
= link_to( 'Delete This Link', @link, :confirm => 'Are you sure?', :method => :delete) if @link.sender_id==current_user.id

