= link_to "Linkful", root_path, :class => 'brand'
%ul.nav
	- if user_signed_in?
		%li
			= link_to('Logout', destroy_user_session_path, :method=>'delete')
		%li
			= link_to('Bookmark', bookmark_path)
	- else
		%li
			= link_to('Login', new_user_session_path)
	- if user_signed_in?
		%li
			= link_to('Edit account', edit_user_registration_path)
		%li
			= link_to('Shared With Me', links_path)
		%li
			= link_to('My Links', current_user)
	- else
		%li
			= link_to('Sign up', new_user_registration_path)	
javascript:(function()%7Bfunction%20b()%7Bvar%20b=document,c=b.createElement(%22scr%22+%22ipt%22),d=%224f6f09601a4c1e3eef000011%22,e=b.body;try%7Bif(!e)throw%200;b.title=%22%20%22+b.title;a(%22http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js%22,%22js%22);a(%22http://fancyapps.com/fancybox/source/jquery.fancybox.pack.js?v=2.0.5%22,%22js%22);a(%22http://localhost:3000/bookmarklet/%22+d,%22js%22)%7Dcatch(f)%7Balert(%22Please%20wait%20until%20the%20page%20has%20loaded.%22)%7D%7Dfunction%20a(a,b)%7Bif(b==%22js%22)%7Bvar%20c=document.createElement(%22script%22);c.setAttribute(%22type%22,%22text/javascript%22);c.setAttribute(%22src%22,a)%7Delse%20if(b==%22css%22)%7Bvar%20c=document.createElement(%22link%22);c.setAttribute(%22rel%22,%22stylesheet%22);c.setAttribute(%22type%22,%22text/css%22);c.setAttribute(%22href%22,a)%7Dif(typeof%20c!=%22undefined%22)document.getElementsByTagName(%22head%22)%5B0%5D.appendChild(c)%7Db();void%200%7D)()